<div class="homecontent text-center">
	<h1>Have a local number in any country</h1>
	<h2>Activate now and start receiving calls</h2>
	<button type="button" class="btn btn-default">SELECT A NUMBER</button>
	
</div>
<div style="padding:30px;">
	<div style="width:45%;float:left;">
		<h1>Buy a phone number anywhere</h1>
		<p>Have your own local phone number in any city or country worldwide. Showing a local number to visitors at your web site increases trust and sales. Incoming calls are forwarded anywhere worldwide at the cost of a local call.</p>
		<p>From $0.89/month.</p>
		<button type="button" class="btn btn-default">Buy Now</button>
	</div>
	<div style="width:50%;float:right;border-left:1px solid #000;">
		<img src="assets/images/u60.png">
	</div>
</div>